html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {  
   margin: 0;  
   padding: 0;  
   border: 0;  
   font-size: 100%;  
   font: inherit;  
   vertical-align: baseline; 
}
html, body {height: 100%;}
a {
	color: #fff;
}
a:visited {
	color: #fff; /* Цвет посещённой ссылки */
} 
a:hover {
	color: blue; /* Цвет ссылки при наведении на нее курсора мыши */  
	text-decoration: none; /* Добавляем подчеркивание */
}
li {
	list-style-type: none;
	white-space: nowrap;
}

body{
	
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	font-family: 'Tahoma';
	font-weight: 400;
	color: #222;
}
.container{
	padding: 0 20px;
	margin: 0 auto;
}
.header{
	min-height: 120px;
	align-content: center;
	background: rgba(0,0,0,.7);
	display: flex;
	vertical-align: middle;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.header .logo{
	float: left;
}
.header .logo img{
	max-width: 80px;
}
.header .menu{
	width: 50%;
	margin: 0 auto;
	font-size: 14px;
}
.header .menu ul{
	display: flex;
	list-style: none;
	justify-content: space-between;

}
.header .menu ul li a{
	transition: all 0.3s;
	color: #fff;
	letter-spacing: 1px;
	text-decoration: none;
}
.header .menu ul li a:hover{
	text-decoration: none;
	color: #0565FF;
	text-shadow: 0 0 0  #0565FF;
}
.header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#contacts {
	right: 0px;
    padding-right: 16px;
	position: absolute;
	z-index: 2;
	color: fff;
	font-size: 14px;
}

.main.hasSlider {height: 100%; position: relative;}

.header {padding: 20px 0; position: relative; z-index: 2;}



.mainSlider {position: absolute; width: 100%; height: 100%; top: 0;}

.slick-list, .slick-list * {height: 100%;}
.slick-dotted.slick-slider {margin-bottom: 0;}
.slick-dots {bottom: 20px;}

.slide-1 {background: url(../img/k1.jpg);}
.slide-2 {background: url(../img/k2.jpg);}
.slide-3 {background: url(../img/k3.jpg);}
.slide-4 {background: url(../img/k4.jpg);}
.slide-5 {background: url(../img/k5.jpg);}
.slide-6 {background: url(../img/k6.jpg);}

.slide {background-size: cover; 
	background-position: center;}


.carousel-item{
	background-attachment: fixed;
}
.main .container{
	max-width: 1170px;
	background: rgba(255,255,255,.7);
}
.slide span{
	/*background: rgb(5,101,255);*/
	white-space: nowrap;
	text-align: right;
	font-size: 3em;
	color: #fff;
	font-weight: 600;
	text-shadow: 2px 2px 8px #000;
	float: right;
	position: relative;
	bottom: calc(-100% + 200px);
	padding-right: 5%;
}
h2{
	text-align: center;
	font-size: 40px;
}
/*.sort1{
	min-height: 1000px;
}
.sort2{
	min-height: 1000px;
}
.items_of_sheep .item_s{
	width: 100%;
}
.items_of_sheep .item_s .galerey{
	width: 50%;
	float: left;
}
.items_of_sheep .item_s .text{
	width: 50%;
	float: left;
}
.item li{
	display: flex;
	justify-content: space-around;
}
.item img{
	height: 300px;
}*/

/*about_us start*/
.block1_about_us {
	width: 100%;
	margin-bottom: 50px;
	padding-top: 30px;
}
.block1_about_us .logo{
	float: left;
	width: 45%;
	padding: 20px;
}
.block1_about_us .text{
	width: 70%;
	float: left;
	text-align: left;
	padding: 20px;
}
.block1_about_us .text h3{
	text-align: left;
	margin-bottom: 40px;
	font-weight: 600;
	font-size: 2em;
}
.block1_about_us .text span{
	color: #288be6;
}
.block1_about_us .text h3 span{
	font-size: 1.5em;
}
.block1_about_us .text p{
	float: right;
	font-weight: 600;
	font-size: 1.5em;
	line-height: 1.4em;
}
.block2_about_us{
	width: 100%;
}
.block2_about_us h2{
	margin-bottom: 50px;
	font-size: 3em;

}
.block2_about_us img{
		transition: all .5s;
}
.block2_about_us img:hover{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);

}
.block2_about_us{
	text-align: center;
	width: 90%;
	margin: 0 auto 50px;

}
.block1{
	width: 50%;
	float: left;
}
.block1 .block1_1{
	width: 100%;
}
.block1 .block1_1 img{
	max-width: 100%;
}
.block1 .block1_2{
	width: 50%;
	float: left;
	padding: 2%;
	margin-top: 1.5%;
}
.block1 .block1_2 img{
	width: 100%;
}
.block1 .block1_3 img{
	width: 50%;
}
.block1 .block1_3 img{
	padding: 2%;
}
.block1 .block1_3 img:nth-child(2){
	padding: 0 4%;
}
.block2{
	padding-left: 1%;
	float: left;
	width: 50%;
}
.block2 .block2_1 img{
	width: 100%;
}
.block2 .block2_1 img:nth-child(1){
	padding: 2% 6% 2% 1%;
}/*
.block2 .block2_1 img:nth-child(2){
	padding: 20px;
}
.block2 .block2_1 img:nth-child(3){
	padding: 2% 8% 2% 1%;
}*/
.block2 .block2_2 img{
	width: 45%;
	float: left;
}
.block2 .block2_2 img:nth-child(1){
	padding: 1% 2%;
}
.block2 .block2_2 img:nth-child(2){
	padding: 1% 60px 1% 4%;
}
.block3_about_us{
	margin-bottom: 30px;
}
.block3_about_us .photo_soc{
	width: 50%;
	text-align: center;
	float: left;
}
.block3_about_us .soc img{
	width: 30px;
	margin-left: 10px;
}

.block3_about_us .photo img{
	width: 80%;
	border-radius: 20px;
	margin-bottom: 20px;
}
.block3_about_us .about_me{
	text-align: left;
	float: left;
	width: 50%;
}
.block3_about_us .about_me h3{
	font-size: 3.5em;
}
/*our_case start*/
.items{
	padding: 3%;
	display: table;
}
.items .item{
	width: 45%;
	float: left;
	margin: 2.5%;
	transition: all .3s;
	min-height: 200px;
}
.item a{
	color: #222;
}
.items .item:hover{
	filter: brightness(30%);
}
.items .item_img{
	-webkit-transform: skew(-10deg);
	-ms-transform: skew(-10deg);
	-o-transform: skew(-10deg);
	transform: skew(-10deg);
	overflow: hidden;
	width: 60%;
	max-height: 200px;
	float: left;
}
.items .item_img .img{
	-webkit-transform: skew(10deg);
	-ms-transform: skew(10deg);
	-o-transform: skew(10deg);
	transform: skew(10deg);
}
.items .item_img .img img{
	position: relative;
	margin-top: -50px;
	left: -60px;
	width: 150%;
	height: auto;
}
.items .item .text{
	float: right;
	width: 35%;
	height: 100%;
	text-align: right;
	position: relative;
	bottom: -5em;
}

/*our_cases end*/
/*item start*/
.item_page{
	padding: 2% 0;
	height: 80vh;
}
.item_page .text{
	padding: 5%;
	width: 40%;
	float: left;
	
}
.item_page .galery{
	width: 60%;
	float: left;
}
.item_page .galery img{
	max-width: 100%;
	height: auto;
}

/*item end*/
.footer .logo img{
	max-width: 80px;
}
.footer1{
	max-height: 70px;
	width: 100%;
	left:0;
	align-content: center;
	background: rgba(0,0,0,.7);
	display: flex;
	vertical-align: middle;
	z-index: 2;
	position: absolute;
	bottom: 0;
}
.footer{
	color: #fff;
	min-height: 130px;
	align-content: center;
	background: rgba(0,0,0,.7);
	display: flex;
	vertical-align: middle;}
.footer ul{
	list-style: none;
}
.footer .logo{
	float: left;
}
.footer .logo img{
	max-width: 80px;
}
.footer .menu{
	width: 50%;
	margin: 0 auto;
	font-size: 14px;
}
.footer .menu ul{
	display: flex;
	list-style: none;
	justify-content: space-between;

}
.footer .menu ul li a{
	color: #fff;
	letter-spacing: 1px;
}
.footer .menu ul li a:hover{
	text-decoration: none;
	color: #ebebeb;
}
.footer .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer .contacts img{
	width: 22px;
	margin-left: 5px;
}
.footer .contacts .cont img{
	width: 1em;
	float: left;
	margin-right: 10px;
	padding-top: 3px;

}
.footer div{
	margin-bottom: 5px;
}
.fore-ground{
	z-index: 2;
}
.contact_page{
    min-height: calc(100% - 250px);
    position: relative;
    display: block;
    padding: 20px 20%;
}
.contact_page h2{
	margin-bottom: 10%;
}
.contact_page img{
	width: 1.3em;
	float: left;
	margin-right: 10px;
	padding-top: 6px;

}
.contact_page span{
	color: #288be6;
}
.contact_page div{
	font-size: 1.5em;
	margin-bottom: 10px;
}
.page-header a {
  color: #288be6;
  text-decoration: none;
}


.footer-contacts{
	height: 80px;
	min-height: 1%;

}

.contact-contact{
	padding-bottom: 40px;
	text-align: center;
}
.footer .main_text{
	font-size: 2em;
}
.footer .main_text div{
	font-size: 1.1em;
}
.footer .main_text span{
	color: #288be6;
}